<div class="mainDiv">
  <div class="fileUploadHldr">

    <input type="file" class="fileElem" multiple (change)="fileProgress($event)" accept=".xlsx, .xls, .csv">
    <label class="fileSelect">Upload File</label>

    <!-- <h4>Usage</h4>
  <progress value="40" max="100"></progress> -->
    <p *ngIf="errMessegeFileType">The file your are uploading is not a Excel(.xls) file.</p>
    <p *ngIf="errMessege"><small>Only Excel(.xls) file with size limit of 1 MB should be uploaded.</small></p>
  </div>

  <table class="tableData">
    <tr>
      <th>File Id</th>
      <th>File Name</th>
      <th>User<br>
        <small>(Current Logged in User)</small></th>
      <th>Status<br>
        <small>(Uploaded/In Process/Error/Success)</small></th>
    </tr>
    <tr *ngFor="let item of tablArr; index as i" [ngClass]="item.ngClassErr ? '' : 'error' ">
      <td>{{i+1}}</td>
      <td>{{item.File_Name}}</td>
      <td>{{item.User}}</td>
      <td>{{item.Status}} <span *ngIf="!item.ngClassErr"><a (click)="setDownload(item.Data)">Download</a></span></td>
    </tr>
  </table>
  <div class="agree"><input type="checkbox" name="" id=""> I agree and confirn there is no error on my file uploading</div>
  <button class="prcd-btn" disabled>Proceed</button>
</div>
