<div class="mainDiv">
  <table class="tableData">
    <tr>
      <th>File Id</th>
      <th>File Name</th>
      <th>User<br>
        <small>(Current Logged in User)</small></th>
      <th>Status<br>
        <small>(Uploaded/In Process/Error/Success)</small></th>
    </tr>
    <tr>
      <td>F002</td>
      <td>Engagement1.xlsx</td>
      <td>Prasenjeet</td>
      <td>Success<br>
        <a href="#">(Link to view the log)</a>
      </td>
    </tr>
  </table>
</div>
