* {
  margin: 0;
  padding: 0;
}

html {
  /* height: 100%; */
}

body {
  margin: 0;
  /* height: 100%; */
  width: 100%;
  background: #eee;
  font-family: Arial;
  color: #3c3c3c;
}

a {
  color: #3c3c3c;
}

.mainDiv {
  width: 900px;
  margin: 0 auto;
}
.fileUploadHldr {
  background-color: #fff;
  width: 300px;
  padding: 30px;
  margin: 30px auto;
  position: relative;
  box-shadow: 1px 1px 10px rgba(0,0,0,.5);
  border-radius: 5px;
}

.fileUploadHldr h4 {
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 5px 0;
  padding: 0;
}

.fileUploadHldr progress {
  appearance: none;
  border: 0;
  width: 100%;
  height: 15px;
  color: #3c3c3c;
  background-color: #ccc;
  border-radius: 10px;
}

.fileUploadHldr progress::-moz-progress-bar {
  background-color: #3c3c3c;
  border-radius: 10px;
}

.fileUploadHldr progress::-webkit-progress-bar {
  background-color: #ccc;
  border-radius: 10px;
}

.fileUploadHldr progress::-webkit-progress-value {
  position: relative;
  background-color: #3c3c3c;
  border-radius: 10px;
}

.fileUploadHldr p {
  font-size: 80%;
  padding: 0;
  margin-top: 20px;
  text-align: center;
}

.fileUploadHldr .fileElem {
  width: 300px;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 1;
  height: 50px;
  opacity: 0;
  cursor: pointer;
}

.fileUploadHldr .fileElem:focus {
  outline: none;
}

.fileUploadHldr .fileSelect {
  display: inline-block;
  text-align: left;
  width: 100%;
  height: 50px;
  background-color: #3c3c3c;
  border-radius: 3px;
  border-bottom: 3px solid rgba(0, 0, 0, .1);
  position: relative;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  color: white;
}

.tableData {
  width: 900px;
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: collapse;
}
.tableData td, .tableData th {
  border: 1px solid #3c3c3c;
  padding: 6px 8px;
  text-align: left;
  background-color: #fff;
  font-size: .8rem;
}
.tableData th {
  background: #3c3c3c;
  color: #eee;
  border: 1px solid #707070;
}
.tableData tr:nth-child(odd) td {
  background: rgb(236, 236, 236);
}
.tableData a {
  text-decoration: underline;
  color: #707070;
}
.tableData a:hover {
  text-decoration: none;
}
.tableData tr.error td {
  background: red;
  color: white;
}
.agree {
  margin: 20px 0;
  font-size: .8rem;
}
.prcd-btn {
  padding: 10px 30px;
  background: #3c3c3c;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.prcd-btn:disabled {
  background: rgb(158, 158, 158);
  cursor: default;
}
